{% load i18n %}
<script src="{% url 'javascript-catalog' %}"></script>
<script>
	const assistant = document.getElementById("assistant-window")
	const collapseBtn = document.getElementById("collapse-assistant")

	collapseBtn.onclick = () => {
		assistant.classList.toggle("collapsed");
		collapseBtn.classList.toggle("collapsed");

		switch(collapseBtn.innerHTML){
			case getExt("Show"):
				collapseBtn.innerHTML = getExt("Hide");
				break;
			case getExt("Hide"):
				collapseBtn.innerHTML = getExt("Show");
				break;
		}

		if (assistant.classList.contains("hidden")) {
			assistant.classList.remove("hidden")
		} else {
			setTimeout(() => {assistant.classList.add("hidden")}, 500)
		}
	}
</script>
<section id="assistant-window" class="assistant">
    {% include './messages.html' %}
    {% include './interface.html' %}
</section>
<button id="collapse-assistant" aria-label="{% trans "Toggle window" %}"></button>
