{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Online publishing platform with multiple languages support and I.A features"/>
	<script src="{% static 'htmx.min.js' %}"></script>
    <title>Main</title>
  </head>
  <body>
	<main hx-get="/articles/?page=1" hx-swap="innerHTML" hx-trigger="load" hx-push-url="true"></main>
  </body>
</html>
