{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="{% trans "Online publishing platform with multiple languages support and I.A features" %}" />
        <script src="{% static 'htmx.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'styles.css' %}?{% now 'U' %}" />
        <title>Main</title>
    </head>
    <body>
        <header>
            <section>
                <form hx-get="/search/"
                      hx-params="query"
                      hx-target="main"
                      hx-swap="innerHTML"
                      hx-push-url="true">
                    {% csrf_token %}
                    <label for="query">{% trans "Search articles" %}:</label>
                    <input type="search" id="query" name="query" />
                    <button type="submit">{% trans "Launch search" %}</button>
                </form>
                <form hx-post="/i18n/setlang/">
                    {% csrf_token %}
                    <input inert name="next" type="hidden" value="/main/">
                    <label for="language">
                        {% trans "Select language" %}
                        <select name="language" id="language">
                            {% for language in languages %}
                                <option value="{{ language.code }}"
                                        {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                    </label>
                    <button type="submit">{% trans "Set" %}</button>
                </form>
            </section>
        </header>
        <main id="main"
              hx-get="{{ view }}"
              hx-swap="innerHTML"
              hx-trigger="load"
              hx-push-url="true">
        </main>
    </body>
</html>
