@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

html * {
  font-family: "Atkinson Hyperlegible", sans-serif;
  --alert-red: #bf1a2f;
  --warning-yellow: #f7d002;
  --light-gray: #cfd7c7;
  --dark-blue: #0c4767;
  --ok-green: #018e42;
  --bg-gradient: hsla(201, 53%, 62%, 1);
  --off-black: #1b1b1b;
  color: var(--off-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
  margin-bottom: 1rem;
  font-family: Urbanist, sans-serif;
  line-height: 1.3;
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

body {
  background: var(--bg-gradient);
}

body > header,
body > footer {
  position: fixed;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 999;
  padding: 0.5rem;
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}

body > header {
  top: 0;
  filter: drop-shadow(0px 2px 2px gray);
}

main {
  margin: 4rem 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
}

body > footer {
  bottom: 0;
  filter: drop-shadow(0px -1px 2px gray);
}

section {
  display: flex;
  gap: 0.5rem;
}

p {
  all: unset;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  max-width: 75ch;
}
ul {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
li {
  max-width: 65ch;
  margin-bottom: 1rem;
}

button {
  font-size: 1em;
  transition: all 200ms ease-in-out;
  width: fit-content;
}

button:focus {
  animation: ping 300ms ease-in-out 1;
}

button.ok {
  color: white;
  background-color: var(--ok-green);
  border-color: var(--ok-green);
}

button.ok:hover {
  color: var(--ok-green);
  background-color: white;
  border-color: var(--ok-green);
  cursor: pointer;
}

button.neutral {
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
  color: white;
  transition: all 200ms ease-in-out;
}

button.neutral:hover {
  background-color: white;
  color: var(--dark-blue);
}

button,
select,
input[type="search"],
input[type="text"] {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  border: 2px solid;
}

input[type="search"],
input[type="text"],
select {
  font-size: 1em;
  border-color: gray;
}

.utils {
  display: flex;
  gap: 0.5rem;
}

.utils > form {
  display: flex;
  align-items: end;
  gap: 0.5rem;
}

@keyframes ping {
  from {
    transform: scale(1);
  }
  20% {
    transform: scale(0.98);
  }
  80% {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}
