{% load i18n %}
<article class="full">
    <header class="article_header">
        <h3>{{ article.title }}</h3>
        <h4>{% trans "Publication date" %}: {{ article.publication_date }}</h4>
    </header>
    <section class="content">
        {{ article.content | safe }}
    </section>
    <section class="similar">
        <h5>{% trans 'Similar articles' %}:</h5>
        <ul>
			{% for similar_article in similar_articles %}<li><a href="/article/?id={{similar_article.id}}">{{ similar_article.title }}</a></li>{% endfor %}
        </ul>
    </section>
</article>
