{% load i18n %}
<form hx-post="/i18n/setlang/" hx-target="main">
    {% csrf_token %}
    <input inert name="next" type="hidden" value="">
    <label hidden for="language">{% trans "Set language" %}:</label>
    <select name="language" id="language">
        {% for language in languages %}
            <option value="{{ language.code }}"
                    {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <button class="ok" type="submit">{% trans "Set" %}</button>
</form>
